.logo {
    margin: 20px 0px 40px 10px;
}

.logo h1, .logo span {
    display: inline-block;
}

.logo h1 {
    margin-bottom: 0px;
}

.logo p {
    margin-top: 0px;
}

.logo small, .logo span, .logo p {
    color: cadetblue;
}

.under {
    font-size: 12px;
}

.container {
    max-width: 60%;
}

.footer {
    margin: 40px 0px 40px 10px;
}

.table, .table td {
    border: hidden;
}
