
.logo {
    margin: 30px 0 40px 0;
    padding-left: 0;
}

.logo h1, .logo span {
    display: inline-block;
}

.logo h2 {
    margin-top: -8px;
    font-size: 14px;
}

.logo a:hover {
    text-decoration: none;
}

.logo, .twitter {
    display: inline-block;
    float: none;
}

.logo small, .logo span {
    color: #ffc66d;
}

.logo h2, .title small:hover, .under, .footer {
    color: #cc7832;
}

.title small, .about small {
    color: #ffc66d;
}

.description, .about p {
    color: #6a8759
}

.company {
    color: #bbb529
}

.footer a, .about a {
    color: #6796a3
}

.pagination>li>a {
    background-color: transparent;
    color: #cc7832;
    border: none;
}

.pagination>li>a:hover {
    background-color: #ffc66d;
}

.pagination>li.active>a {
    background-color: #cc7832;
}

.pagination>li.active>a:hover {
    background-color: #cc7832;
}

body {
    background-color: #2b2b2b;
}

.twitter {
    vertical-align: super;
}

.under, .statistics {
    font-size: 12px;
}

.center-block {
    float: none
}

.jobBlock {
    word-wrap: break-word;
}

.jobBlock, .pagination {
    margin-top: 35px;
}

.footer {
    margin: 30px 0 30px 0;
}