<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <div class="about">
        <h2>
            <small>About jParser</small>
        </h2>
        <p>
            jParser helps Java developers to find a job in Kyiv. Every hour it parses vacancies on four main Ukrainian
            job sites:
            <a href="http://rabota.ua/zapros/java/%D0%BA%D0%B8%D0%B5%D0%B2" target="_blank">Rabota.ua</a>,
            <a href="https://www.work.ua/jobs-kyiv-java/" target="_blank">Work.ua</a>,
            <a href="https://hh.ua/search/vacancy?text=java&amp;area=115" target="_blank">Headhunter.ua</a> and
            <a href="http://www.jobs.ua/vacancy/rabota-kiev-java/" target="_blank">Jobs.ua </a>
            and on main Ukrainian site for developers —
            <a href="https://jobs.dou.ua/vacancies/?city=%D0%9A%D0%B8%D1%97%D0%B2&amp;category=Java;" target="_blank">Dou.ua.</a>        </p>
        <p>
            jParser was created by Java developer and journalist Oleg Shankovskyi.
        </p>
        <p>
            If you have any ideas to improve this project, feel free to join.
            Source code is on <a href="https://github.com/olegshan/JobParser" target="_blank"> Github</a>.
        </p>
        <br/>
        <p><a href="/">Return to homepage</a></p>
    </div>
</div>
</html>