<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div class="jobBlock" data-th-each="job : ${jobs}">
        <a th:href="${job.url}" target="_blank">
            <h2 class="title">
                <small data-th-text="${job.title}"></small>
            </h2>
        </a>
        <p class="description" data-th-text="${job.description}"></p>
        <span class="under" data-th-text="${job.dateToDisplay}"></span>
        <span class="company" data-th-text="${job.company}"></span>
        <span class="under" data-th-text="${job.source}"></span>
    </div>

    <div th:if="${jobs.getTotalPages() > 1}" class="text-center">
        <ul class="pagination">
            <li class="page-item">
                <a th:if="not ${jobs.getNumber() == 0}" class="page-link" th:href="@{/(page=1)}">&laquo;</a>
            </li>
            <li class="page-item">
                <a th:if="not ${jobs.getNumber() == 0}" class="page-link"
                   th:href="@{/(page=${jobs.getNumber()})}">&larr;</a>
            </li>
            <li th:class="${jobs.getNumber() == (page - 1)} ? active"
                th:each="page : ${#numbers.sequence(pageBox.getFirstPage(), pageBox.getLastPage())}">
                <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a>
            </li>
            <li class="page-item">
                <a th:if="not ${jobs.getNumber() + 1 == jobs.getTotalPages()}" class="page-link"
                   th:href="@{/(page=${jobs.getNumber() + 2})}">&rarr;</a>
            </li>
            <li class="page-item">
                <a th:if="not ${jobs.getNumber() + 1 == jobs.getTotalPages()}" class="page-link"
                   th:href="@{/(page=${jobs.getTotalPages()})}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div class="footer">
        <p>
            &copy; 2016 - <script>document.write(new Date().getFullYear())</script>
            <a href="https://github.com/olegshan/JobParser" target="_blank">olegshan</a>.
            <a href="/about">About jParser</a>
        </p>
    </div>

</div>

</html>