<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <div class="logo">
        <a href="/">
            <h1>
                <small>
                    jParser
                </small>
            </h1>
            <sup><span>&beta;</span></sup>
            <p>Jobs for Java developers in Kyiv</p>
        </a>
    </div>
    <table class="table">
        <tbody id="tableBody">
        <tr data-th-each="job : ${jobs}">
            <td class="job">
                <a th:href="${job.url}" target="_blank">
                    <h2>
                        <small data-th-text="${job.title}"></small>
                    </h2>
                </a>
                <p data-th-text="${job.description}"></p>
                <div class="under">
                    <span data-th-text="${job.dateToDisplay}"></span>
                    <mark data-th-text="${job.company}"></mark>
                    <span data-th-text="${job.source}"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${jobs.size()} &gt; 40">
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>
</html>