<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JavaJobParser</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<div class="container">
    <div layout:fragment="content">

    </div>

    <div class="footer">
        <p>&copy; <a href="https://github.com/olegshan" target="_blank">olegshan.</a>
            Have any ideas for improvement?
            <a href="https://github.com/olegshan/JobParser" target="_blank">Fell free to join.</a>
        </p>
    </div>
</div>
</body>
</html>