<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div data-th-each="stat : ${statistics}">
        <div class="statistics">
            <span data-th-text="${stat.getSiteName()} + ' __ '"></span>
            <!--<p data-th-text="'Id: ' + ${stat.getId()}"></p>-->
            <span data-th-text="${stat.getRun()} + ' __ '"></span>
            <span data-th-text="'New: ' + ${stat.getNewJobsFoundByRun()} + ' __ '"></span>
            <span data-th-text="'Updated: ' + ${stat.getUpdatedJobsByRun() }"></span>
        </div>
        <br/>
    </div>
</div>
</html>